@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 15px;
}

.nav-menu {
  display: none;
}

.menu-bar {
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  float: right;
  flex: none;
  order: 0;
  flex-grow: 0;
  line-height: 28px;
  margin-right: 15px;
}

.head-section {
  background-image: url('images/background-image/backround-image.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: auto;
  width: 100%;
}

.hey-there {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  padding-top: 90px;
}

.hey-text {
  width: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 18%;
}

.hey-text2 {
  color: #36b37e;
}

.text {
  width: 80%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 380;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 10%;
  margin-left: 12%;
}

.iconns {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 15%;
  margin-left: 30%;
}

.icons {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 15%;
  margin-left: 30%;
}

.icon {
  justify-content: space-between;
}

.medium {
  width: 20px;
  height: 16px;
  top: 538px;
  left: 181.42px;
}

.scroll {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2 + 0.5px);
  bottom: 4px;
  background: #fff;
  border-radius: 32px;
  margin-top: 10%;
  margin-left: 49%;
}

.work-section {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: repeat(5, 474px);
  row-gap: 24px;
  justify-content: center;
  padding-top: 32px;
}

.rece {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.recent-works {
  grid-column: 3/11;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.green {
  width: 40px;
  height: 4px;
  background-color: #36b37f;
  border-radius: 8px;
  grid-column: 3/11;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 47%;
  margin-top: 20px;

  /* border-bottom: 4px  solid #36b37e;
  width: 33%;
  margin-left: 45%;
  margin-top: 3%;
  padding-bottom: 8%; */
}

.hey-tex {
  width: 327px;
  height: 97px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-section-1 {
  grid-column: 4;
  border: 1px solid #d0d9d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 474px;
  border-radius: 8px;
  margin-top: 64px;
  margin-left: 30px;
}

/* .project-section-1 {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: repeat(5,474);
  row-gap: 24px;
  justify-content: center;
  padding-top: 62px;
} */

.card {
  width: 327px;
  height: 100vh;
  background: #ebf0ee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title-1 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.list .ruby {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 7px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.list .css {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 7px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.list .javascript {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 7px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.list .html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border: 0;
  margin-left: 110px;
  margin-right: 105px;
  margin-top: 35px;
  margin-bottom: 30px;
  color: white;
  transition: all 0.3s;
  font-size: 18px;
}

.button:hover {
  background-color: #4cbe8f;
}

.button:active {
  background-color: #017243;
}

.about-me {
  background-image: url('images/about-me/background/illustration\ 2-about-me\ mobile.svg'), url('images/about-me/background/illustration\ 1-\ about\ me-mobile.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: 70px, 70px;
  background-position: left 400px, top right 0;
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: repeat(5, 474px);
  row-gap: 24px;
  justify-content: center;
  padding-top: 32px;
  margin-top: 20px;
  margin-bottom: 0;
}

.about-text {
  padding: 70px 50px 0 50px;
  grid-column: 1/13;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  align-items: center;
  text-align: center;
}

.par {
  grid-column: 1/13;
  height: 189px;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
}

.par2 {
  font-size: 20px;
  font-weight: 380;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  line-height: 32px;
  color: #42526e;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.resume {
  margin-left: 123px;
  grid-column: 1/13;
}

.sections {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 25px;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  margin-right: 35px;
  margin-left: 30px;
  margin-bottom: 8%;
  margin-top: 60px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.language-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 10px;
}

.language-icon img {
  height: 100px;
  width: 100px;
}

.frameworks {
  float: right;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #36b37e;
  padding-left: 0;
}

.javascript-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
}

.ruby-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.html-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.css-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.bootstrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.ruby-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.rspec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.capybara {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.selenium {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.codekit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.github-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  margin-right: 0;
}

.codepen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.gitlab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.form {
  background-image: url('./images/form/illustration-contact-form.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: right bottom;
  padding: 0;
  margin-top: -850px;
}

.form-text {
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  margin-left: 11px;
  margin-bottom: 10px;
}

.form-text h4 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  text-align: center;
  margin-bottom: 35px;
  color: #172b4d;
}

.inputs {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 327px;
  height: 40px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
  padding: 0;
  margin-bottom: 30px;
  margin-left: 15px;
}

.msg {
  width: 327px;
  height: 114px;
  font-weight: 500;
  border: 1px solid#60C095;
  border-radius: 4px;
  background: #fff;
  padding: 0;
  margin-bottom: 30px;
  margin-left: 15px;
}

.email-address {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  line-height: 31px;
  text-align: center;
  color: #42526e;
  margin-bottom: 100px;
}

.form-bttn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 121px;
  height: 48px;
  background: #36b37f;
  border: 0;
  margin-left: 110px;
  margin-right: 105px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  transition: all 0.3s;
  font-size: 18px;
}

.input:hover {
  transition: all 0.3s;
  background: #c8d5f5;
}

.msg:hover {
  transition: all 0.3s;
  background: #dfe1e6;
}

.form-bttn:enabled {
  background-color: #36b37f;
}

.form-bttn:hover {
  border: 1px solid rgb(2, 155, 35);
  background-color: #44b988;
}

.form-bttn:active {
  background-color: #017243;
}

@media screen and (min-width: 768px) {
  .body {
    width: 100%;
  }

  .head-section {
    background-image: url('images/background-image/desktop/Header-llustration-desktop@2x.png');
    background-repeat: no-repeat;
    background-size: contain 100%;
  }

  .header {
    justify-content: center;
  }

  .head {
    display: none;
  }

  .menu-bar {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    list-style: none;
  }

  .nav-menu a {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    list-style: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #131212;
    padding: 10px 12px;
    text-decoration: none;
  }

  .links {
    color: #0c0c0c;
  }

  .hey-there {
    width: 80%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .text {
    width: 70%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 2%;
  }

  .icon {
    justify-content: space-between;
  }

  .scroll {
    width: 40px;
    margin-bottom: 195px;
    margin-top: 295px;
  }

  .green {
    display: none;
  }

  /* .grid {
    height: 700px;
    display: flex;
    flex-direction: column;
  }
  .hey-text {
    width: 100%;
    height: 0px;
  } */
  .all-works {
    margin-top: 200px;
  }

  .recent-works {
    height: 0;
    display: flex;
    justify-content: flex-start;
    align-items: start;

    /* border-bottom: 4px  solid #36b37e; */
    width: 100%;
    margin-left: -15%;
    margin-right: auto;
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .about-me {
    background-image: url('images/background-image/desktop/about/illustration-about-me-2-desktop@2x.png'), url('images/background-image/desktop/about/illustration-about\ me-1-desktop@2x.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 160px, 160px;
    background-position: left 200px, top right 0;
    margin-top: 50px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
  }

  .about-me .about-text .hey-text,
  .about-me .par p {
    width: 920px;
    height: 92px;
    text-align: center;
    margin-bottom: -2%;
    margin-left: 15%;
  }

  .resume {
    margin-top: -6%;
    margin-left: 45%;
  }

  .project-cards {
    width: 93%;
    height: auto;
    margin: 12px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 140px;
  }

  .sections-cards {
    display: flex;
    justify-content: center;
  }

  .sections {
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 352px;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .language-icon {
    transition: all 0.5s ease-out;
  }

  .language-icon:hover {
    transform: scale(1.04);
  }

  .info {
    display: flex;
    margin-top: 10%;
    margin-left: -20%;
  }

  .form-text {
    grid-column: 4;
  }

  .form-text h4 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    margin-bottom: 34px;
    color: #172b4d;
    width: 90%;
    margin-left: 50%;
    margin-top: 5%;
  }

  .input {
    width: 500.58px;
    height: 40px;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    background: #fff;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 15px;
  }

  .msg {
    width: 500.58px;
    height: 100px;
    font-weight: 500;
    border: 1px solid#60C095;
    border-radius: 4px;
    background: #fff;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 15px;
  }

  .email-address {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    line-height: 31px;
    text-align: center;
    color: #42526e;
    margin-bottom: 100px;
  }

  .form-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 121px;
    height: 48px;
    background: #36b37f;
    border: 0;
    margin-right: 105px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    transition: all 0.3s;
    font-size: 18px;
    margin-left: 3%;
  }

  .form {
    background-image: url('images/background-image/desktop/form/illustration-1-contact-form-desktop.svg'), url('images/background-image/desktop/form/illustration-2-contact-form-desktop@2x.png'), url('images/background-image/desktop/form/contact\ form-illustratoin-3-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 160px, 160px;
    background-position: left 400px, bottom center, bottom right 0;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  }

  .icons {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-top: 20%;
    margin-left: 45%;
    transition: all 0.5s ease-out;
  }

  .icons:hover {
    transform: scale(1.04);
  }

  .iconns {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-top: 5%;
    margin-left: 45%;
    margin-bottom: 10%;
    transition: all 0.5s ease-out;
  }

  .iconns:hover {
    transform: scale(1.04);
  }
}
